Package: com.tomaszpoliszuk.flipswitchcolorfiltergreenred
Depends: firmware (>= 11.0), mobilesubstrate, com.a3tweaks.flipswitch
Name: Flipswitch - Color Filter Green/Red
Version: 1.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Color Filter Green/Red
Author: Tomasz Poliszuk
Section: Addons (Flipswitch)
dev: tomaszpoliszuk
